<H3> Manipulação de tabelas utilizadas para filtragem colaborativa </H3>
<h6> Utilizada na etapa de Pŕe-Processamento de dados </h6>

In [3]:
import pandas as pd
from surprise import Dataset, SVD, Reader
import pandas as pd
ratingsData = pd.read_csv('./csv/ratings.csv')

In [6]:
ratings500 = ratingsData.iloc[:500000]

In [10]:
ratings500 = pprMilhao.drop(columns=['timestamp'])
pprMilhao500.to_csv("./csv/preProcessedRatings2.csv")

In [8]:
data.shape

(100004, 4)

In [9]:
data.ndim

2

In [10]:
data.dtypes

userId         int64
movieId        int64
rating       float64
timestamp      int64
dtype: object

In [11]:
data['rating'].describe()

count    100004.000000
mean          3.543608
std           1.058064
min           0.500000
25%           3.000000
50%           4.000000
75%           4.000000
max           5.000000
Name: rating, dtype: float64

In [12]:
data['userId'].nunique()

671

In [15]:
data = data.drop(columns='timestamp')

In [16]:
data

        userId  movieId  rating
0            1       31     2.5
1            1     1029     3.0
2            1     1061     3.0
3            1     1129     2.0
4            1     1172     4.0
...        ...      ...     ...
99999      671     6268     2.5
100000     671     6269     4.0
100001     671     6365     4.0
100002     671     6385     2.5
100003     671     6565     3.5

[100004 rows x 3 columns]

In [32]:
data.sort_values(by=['rating'])

       userId  movieId  rating
75815     527     2355     0.5
92912     615   109187     0.5
12618      79        7     0.5
63681     457   122882     0.5
2491       15   101112     0.5
...       ...      ...     ...
65490     466     1639     5.0
65494     466     1688     5.0
26076     190     3176     5.0
9385       62    79132     5.0
8086       52     4014     5.0

[100004 rows x 3 columns]

In [11]:

datasetaset.load_builtin('ml-100k') = Dat
dataset

TypeError: eval() arg 1 must be a string, bytes or code object